[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.4.16"
pipenv = "==2018.7.1"
pytz = "==2018.5"
virtualenv = "==16.0.0"
virtualenv-clone = "==0.3.0"
Django = "==2.0.7"

[dev-packages]

[requires]
python_version = "3.7"
